<div class="signin-content">
  <mat-card>

    <mat-card-title fxLayoutAlign="center">הזדהות</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">הכנס קוד</mat-card-subtitle>
    <mat-card-content>
      <code-input autofocus
                  [isCodeHidden]="false"
                  [isNonDigitsCode]="false"
                  [codeLength]="4"
                  (codeChanged)="onCodeChanged($event)"
                  (codeCompleted)="onCodeCompleted($event)">
      </code-input>
      <br>
      <button  mat-raised-button color="primary">שלח</button>
    </mat-card-content>
  </mat-card>
</div>
