@use '../../../assets/global' as c;

.signin-content {
  padding: 150px 1rem;
}

.country-selector{
  opacity:1 !important;
  bottom:8px !important;
}

input:not(.country-search){
  bottom: 3px;
  left: 10px;
}

.country-list-button{
  font-size: 0.8rem!important;
}

.mat-menu-content:not(:empty){
  max-height:250px;
}

.mat-form-field {
  width: 100%;
}

.m-t-10{
  margin-top:10px;
}

.error{
  color:red;
}
.mat-raised-button{
  width: 100%;
}

a {
  color: c.$nail-app--secondary;
  margin-right: 5px;
  border-bottom: 1px solid c.$nail-app--secondary;
}

mat-card-footer.mat-card-footer {
  margin: 0;
}
//code-input {
//  --item-spacing: 10px;
//  --item-height: 3em;
//  --item-border: none;
//  --item-border-bottom: 2px solid #dddddd;
//  --item-border-has-value: none;
//  --item-border-bottom-has-value: 2px solid #888888;
//  --item-border-focused: none;
//  --item-border-bottom-focused: 2px solid #809070;
//  --item-shadow-focused: none;
//  --item-border-radius: 0px;
//}
