@use '../../../assets/global' as c;

mat-card {
  border-radius: 5px;
  .active {
    border: 1px solid c.$nail-app--secondary;
    outline: 1px solid c.$nail-app--secondary;
    border-radius: 7px;
  }
  div {
    align-items: unset!important;
  }

  .wrap {
    min-width: 0;
    .mat-card-title, .mat-card-subtitle {
      margin-inline-start: 50px;
    }
    .mat-card-title{
      font-size: medium;
    }
    .mat-card-subtitle{
      font-size: small;
    }
  }

  .horizontal-list {
    overflow-x: hidden;
    white-space: nowrap;
    place-content: stretch flex-end!important;
    -webkit-overflow-scrolling: touch;

    .mat-icon {
      font-size: larger;
      height: 17px;
    }
  }

  .item {
    display: inline-flex;
    margin-right: 8px;
  }

  .chip-img {
    padding-right: 6px;
  }

}


@media (orientation: portrait) {
  .mat-datepicker-content-touch .mat-datepicker-content-container {
    width: 90vw!important;
  }
}
.mat-calendar-table-header th {
  font-size: large!important;
}
