<div *ngIf="!imageLoad">
  <app-spinner></app-spinner>
</div>

<div *ngFor="let member of members; let i = index">
  <mat-chip-list style="display: none"></mat-chip-list>
  <div class="card" (click)="onClick(member)">
    <mat-card [class.active]="member === activeEvent" (click)="activeEvent = member"
              [ngClass]="{'mat-elevation-z0':!imageLoad}"
              [ngStyle]="imageLoad ? {'border': '1px solid gray', 'box-shadow': '2px 2px 2px 1px rgba(0, 0, 0, 0.2)' ,'border-radius': '5px','width': '105%'}  : {'display': 'none'}"
              >

      <div fxLayout="row" fxFlex="100">
        <img
          src="{{member.url}}"
          width="100"
          height="100"
          [src]="member.url" (load)="onLoadImage()"
          [ngStyle]="imageLoad ? {'display': 'flex'} : {'display': 'none'}"
        />
        <div fxLayout="column" dir="rtl" *ngIf="imageLoad" >
          <mat-card-title>{{member.title}}</mat-card-title>
          <mat-card-subtitle>{{member.subtitle}}</mat-card-subtitle>

          <div class="horizontal-list" fxLayout="row" fxLayoutAlign="start">
            <mat-chip>
              ₪{{member.price}}
            </mat-chip>
            <mat-chip>
              {{member.time}}
              <mat-icon>access_time</mat-icon>
            </mat-chip>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<br>
<div class="">
  <ul>תוספות
    <li>ציורים 20₪</li>
    <li>מדבקות 10₪</li>
    <li>השלמת ציפורן 10₪</li>(עד 3 ציפורניים)
  </ul>
</div>
<br>
<br>
