<mat-toolbar dir="rtl">
  <button *ngIf="(authService.isLoggedIn | async)" mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button *ngIf="(authService.isLoggedIn | async)" mat-menu-item [routerLink]="['/days']">מנהל<span><mat-icon>manage_accounts</mat-icon></span></button>
    <button *ngIf="(authService.isLoggedIn | async)" mat-menu-item [routerLink]="['/profile']">פרופיל<span><mat-icon>person</mat-icon></span></button>
    <button *ngIf="(authService.isLoggedIn | async)" (click)="logout()" mat-menu-item>התנתק<span><mat-icon>logout</mat-icon></span></button>
  </mat-menu>
  <span *ngIf="user | async as userHtml">
  <span *ngIf="(authService.isLoggedIn | async)">שלום {{userHtml.username}}</span>
  </span>
  <span class="example-spacer"></span>
  <img src="../assets/NYB-logo-white.png" alt="" class="img">
</mat-toolbar>
