<mat-toolbar dir="rtl">
  <button *ngIf="authService.isLoggedIn | async" mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>פרופיל<span><mat-icon>person</mat-icon></span></button>
    <button (click)="logout()" mat-menu-item>התנתק<span><mat-icon>logout</mat-icon></span></button>
  </mat-menu>
  <span *ngIf="user.username">שלום {{user.username}}</span>
  <span class="example-spacer"></span>
  <img src="../assets/logo.jpeg" alt="" class="img">
</mat-toolbar>
