@use '../../../assets/global' as c;

:host {
  display: block;
  padding: 30px;
}

mat-card.mat-card {
  border-radius: 15px;
  overflow: hidden;
}

mat-icon {
  margin-inline-start: 5px;
}
.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: white;
  text-align: center;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  button {
    position: relative;
    top: 15px;
    width: 90%;
  }

}
