<mat-card dir="rtl">
  <mat-card-title>
    <h4 class="uxg-h4">שלב סליקה</h4>
  </mat-card-title>
  <mat-card-content>
    <div class="payment-type-container">
      <mat-radio-group aria-label="Select an option" [selected]="visa">
        <mat-radio-button #visa value="visa"><img class="payment-logo" src="https://res.cloudinary.com/ffdc/image/upload/v1593768892/cards_logos_drnu5h.png"></mat-radio-button>
        <mat-radio-button value="paypal"><img class="payment-logo" src="https://res.cloudinary.com/ffdc/image/upload/v1593768982/paypal_logo_st1m41.png"></mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="card-form-container">
      <div>
        <mat-form-field appearance="fill" dense class="example-full-width">
          <mat-icon matPrefix dense color="primary">payment</mat-icon>
          <mat-label>Card number</mat-label>
          <input matInput #input maxlength="16" placeholder="Enter card number" value="9871-5000-3456-8374" />
<!--          <mat-hint align="end">{{ input.value?.length || 0 }}/19</mat-hint>-->
        </mat-form-field>
      </div>
      <div>
        <mat-form-field floatLabel="never" dense appearance="fill" class="example-full-width">
          <mat-icon color="primary" dense matPrefix>person_outline</mat-icon>
          <mat-label>Name</mat-label>
          <input type="text" matInput value="Gregg Wicks"/>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field class="expire-month" dense>
      <mat-label>Month</mat-label>
      <select matNativeControl>
        <option value="january">01</option>
        <option value="february">02</option>
        <option value="march">03</option>
        <option value="april">04</option>
        <option value="may">05</option>
        <option value="june">06</option>
        <option value="july">07</option>
        <option value="august">08</option>
        <option value="september">09</option>
        <option value="october">10</option>
        <option value="november">11</option>
        <option value="december">12</option>
      </select>
    </mat-form-field>
    <mat-form-field class="expire-month" dense>
      <mat-label>Year</mat-label>
      <select matNativeControl>
        <option value="january">2020</option>
        <option value="february">2021</option>
        <option value="march">2022</option>
        <option value="april">2023</option>
        <option value="april">2024</option>
      </select>
    </mat-form-field>
    <mat-form-field dense appearance="fill">
      <mat-icon color="primary" matSuffix dense>help_outline</mat-icon>
      <mat-label>CVC</mat-label>
      <input type="text" matInput />
      <mat-hint>Behind your card</mat-hint>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <span class="fill-remaining-space"></span>
    <button mat-stroked-button color="primary">
      <mat-icon>arrow_back</mat-icon>
      Back to billing
    </button>
    <button mat-flat-button color="primary" >
      <mat-icon>done</mat-icon>
      Validate
    </button>
  </mat-card-actions>
</mat-card>
