<ng-container>
  <mat-card class="card mat-elevation-z0">
    <div class="card__title" fxLayoutAlign="center">בחר תאריך ושעות</div>
    <mat-card-header>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <time-picker [(ngModel)]="time" (ngModelChange)="change($event)" (close)="close()"></time-picker>
      {{ time }}
    </mat-card-content>
    <mat-card-actions>
      <div class="action" fxLayoutAlign="center">
        <button color="secondary" mat-button (click)="onClose()">בטל</button>
        <button color="primary" mat-button (click)="onSubmit()" [disabled]="!form.valid">עדכן</button>
      </div>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #noContent>
  <div fxLayoutAlign="center">noContent.</div>
</ng-template>
