<ng-container *ngIf="isMobileMode else desktop">
  <div fxLayout="column" fxFlexFill>
    <app-header></app-header>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>

<ng-template #desktop>
  <br><br>
  <br><br>
  <div class="smartphone">
    <div class="content">
      <div class="app" fxLayout="column" fxFlexFill>
        <app-header></app-header>
        <div fxFlex>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</ng-template>

