@use '../../../assets/global' as c;

.time mat-card {
  margin: 5px;
  width: 75%;
  border-radius: 15px;
  background-color: c.$nail-app--secondary!important;
  color: white;
  cursor: pointer;
  height: 100%;
}

.card {
  transition: none !important;
  box-shadow: none !important;

  .mat-card-header .mat-card-title {
    font-size: x-large;
    padding: 5px;
    width: max-content;
  }

  .mat-card-subtitle {
    font-size: 15px;
  }

  mat-card {
    height: 85%;
    align-items: center;
    position: absolute;
    //
    //.list {
    //  background-image: url('../../../assets/logo.jpeg');
    //  background-position: center;
    //  background-repeat: no-repeat;
    //  background-size: cover;
    //}

    .mat-card-header {
      display: grid;
    }

    .mat-card-header .mat-card-title {
      font-size: 15px;
    }

    .mat-card-subtitle {
      font-size: small;
    }
  }

  //&__wrap-image {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  &__image {
  //    border-radius: 50%;
  //    height: 6.5rem;
  //    width: 13.5rem;
  //    position: relative;
  //    object-fit: contain;
  //    top: -35px;
  //  }
  //}
.title {
  position: relative;
  top: -25px;
  font-size: 15px;
  color: c.$nail-app--primary;
}


}

button.mat-focus-indicator.mat-stepper-next.action.mat-raised-button.mat-button-base.mat-primary._mat-animation-noopable {
  width: 100% !important;
}

button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-secondary._mat-animation-noopable.ng-star-inserted {
  height: fit-content;
  margin-right: 28px;
  top: 7px;
}

::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: c.$nail-app--secondary;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: c.$nail-app--primary;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: c.$nail-app--primary !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: c.$nail-app--primary !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: c.$nail-app--primary !important;;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: c.$nail-app--primary !important;
}


mat-datepicker-toggle {
  color: c.$nail-app--primary !important;
}

[dir=rtl] .mat-form-field {
  //text-align: right;
  width: 100%;
  font-size: 15px;
}

footer {
  background-color: white;
  height: 10%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .wrap-action {
    position: relative;
    top: 15px;

    button {
      width: 90%;
    }
  }

}

//p, span, h4 {
//  font-size: 15px;
//}

//mat-icon, span {
//  margin: -2px px 0px 0px 2px;
//}
.item {
  text-align: center;
  margin: 2px;
  //background-color: #f2f2f2;
  //padding: 20px 20px 20px 20px;
  //top: 15px;
  //border: 1px solid lightgrey;
  //border-radius: 3px;
  //position: relative;
}

//span {
//  color: black;
//}
//
//a {
//  color: c.$nail-app--secondary;
//  cursor: pointer;
//}
//
//span.price {
//  float: right;
//  color: grey;
//}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
//@media (max-width: 800px) {
//  .row {
//    flex-direction: column-reverse;
//  }
//  .col-25 {
//    margin-bottom: 20px;
//  }
//}
