<div class="signin-content">
  <mat-card>
    <mat-card-title fxLayoutAlign="center">הזדהות</mat-card-title>
    <mat-card-subtitle fxLayoutAlign="center">לקוח יקר, ברגעים אלו נשלח אליך קוד זיהוי במסרון אנא הזן קוד זה</mat-card-subtitle>
    <mat-card-content>
      <code-input autofocus
                  [isCodeHidden]="false"
                  [isNonDigitsCode]="false"
                  [codeLength]="4"
                  (codeChanged)="onCodeChanged($event)"
                  (codeCompleted)="onCodeCompleted($event)">
      </code-input>
      <br>
      <button  mat-raised-button color="primary">שלח</button>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="center">
         <a (click)="authService.login()">שלח שוב</a>לא קיבלתי קוד
      </div>
    </mat-card-actions>
    <mat-card-footer fxLayoutAlign="center">
      <button [routerLink]="['/']" style="font-size: large" mat-button color="primary">חזרה</button>
    </mat-card-footer>

  </mat-card>
</div>
