/* Font Sizes*/
$font-md: 14px;
$font-lg: 16px;

/* Main pallet colors: */
$nail-app--hover: rgba(64, 123, 231, 0.1);
$nail-app--white: #FFFFFF;
$nail-app--black: #000000;
$nail-app--primary : #4D4D4D;
//$nail-app--primary : #DBDBDB;
$nail-app--secondary: #407BE7;
