@use '../../../assets/global' as c;

:host {
  display: block;
  padding: 30px;
}

.hide {
  outline: none
}

mat-card.mat-card {
  border-radius: 15px;
  overflow: hidden;
}

mat-icon {
  margin-inline-start: 5px;
}

span, button, mat-icon {
  color: c.$nail-app--primary;
}

button.main {
  border: 1px solid c.$nail-app--primary;;
}

mat-form-field {
  width: 70%;
}
.item {
  //display: inline-block;
  border: 1px solid c.$nail-app--primary;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
  //margin-right: calc(100% / 7 - 20px);
  cursor: pointer;
  span {
    display: block;
    font-size: 13px;
    mat-icon {
        float: left;
        font-size: large;
    }
    b {
      margin-inline-end: 5px;
    }
  }
}

