.card {
  max-width: 400px;

  .mat-card-header .mat-card-title {
    font-size: large;
  }

  &__title {
    font-size: large;
    padding: 20px;
  }

  &__header {

  }

  form {

  }

  //mat-card-content.mat-card-content {
  //   padding: 20px;
  // }

}
