<mat-card class="card" *ngIf="user">
  <div class="card__title" fxLayoutAlign="center">הכניס/י שם</div>

  <mat-card-header class="card__header">
    <mat-card-title>איך תרצו שנכנה אותכם?</mat-card-title>
  </mat-card-header>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" dir="rtl">

    <mat-form-field appearance="fill" dense class="example-full-width">
      <input matInput #input maxlength="16" placeholder="לדוגמא: מעיין" formControlName="username"
             (keyup.enter)="onSubmit()"/>
    </mat-form-field>
    <mat-card-actions>
      <div class="action" fxLayoutAlign="center">
        <button color="primary" mat-raised-button (click)="onSubmit()" type="submit">אישור</button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>
